# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
.venv/
uv.lock

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage
.coverage
.tox/
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Other
*.sqlite3
*.db

# Ignore secrets
.env
*.env

# Node.js
node_modules/